[submodule "engine/dependencies/sol2"]
	path = engine/dependencies/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "engine/dependencies/json"]
	path = engine/dependencies/json
	url = https://github.com/nlohmann/json
[submodule "engine/dependencies/Catch2"]
	path = engine/dependencies/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "engine/dependencies/Thor"]
	path = engine/dependencies/Thor
	url = https://github.com/Bromeon/Thor
[submodule "engine/dependencies/TGUI"]
	path = engine/dependencies/TGUI
	url = https://github.com/texus/TGUI/
[submodule "engine/dependencies/LDoc"]
	path = engine/dependencies/LDoc
	url = https://github.com/stevedonovan/LDoc
