.vscode/tags
.vscode/.cmaketools.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# LDOC
config.ld

# Jekyll
_site
Gemfile*
.jekyll-cache/

# LaTeX and tikz
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz